<!-- jQuery -->
<script src="{{'assets/js/jquery.min.js' | url }}"></script>
<!-- Bootstrap 4 -->
<script src="{{'assets/js/bootstrap.bundle.min.js' | url }}"></script>
<!-- AdminLTE App -->
<script src="{{'assets/js/adminlte.min.js' | url }}"></script>
</body>
</html>