<div class="row">
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3>{{ total_canciones }}</h3>

                <p>Canciones Publicadas</p>
              </div>
              <div class="icon">
                <i class="fas fa-music"></i>
              </div>
              
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3>{{ total_artistas }}</h3>

                <p>Artistas</p>
              </div>
              <div class="icon">
                 <i class="fas fa-microphone-alt"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-warning">
              <div class="inner">
                <h3>{{ total_usuarios }}</h3>

                <p>Usuarios Registrados</p>
              </div>
              <div class="icon">
                <i class="fas fa-user-plus"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-3 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3>{{total_albums}}</h3>

                <p>Albums Publicados</p>
              </div>
              <div class="icon">
                 <i class="fas fa-compact-disc"></i>
              </div>
            </div>
    </div>
    <!-- ./col -->
</div>