{# 
<div class="embed-responsive embed-responsive-16by9 mb-3">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/{{lyric.video}}"></iframe>
</div> #}

<div id="embed-video-player" class="embed-responsive embed-responsive-16by9 mb-3 ">

<div id="player"></div>
	<div id="subtitulos">
		<div id="rew" onclick="goTo(-10)">
			<img src="https://i.musicaimg.com/im/10b.svg" onerror="this.onerror=null;this.src='https://i.musicaimg.com/im/10b.png'" alt="10 menos" width="32" height="32">
		</div>
		<div class="text"></div>
		<div id="fwd" onclick="goTo(10)">
			<img src="https://i.musicaimg.com/im/10f.svg" onerror="this.onerror=null;this.src='https://i.musicaimg.com/im/10f.png'" alt="10 más" width="32" height="32">
		</div>
</div>
</div>