<section class="my-3 bg-white p-4 shadow-sm">
    <header class="mb-4">
        <h2 class="font-weight-bold h3">Artistas de actualidad</h2>
    </header>
       
     <div class="row">
        <div class="col-md-7">

            <div class="row">

            {% set tags_count = artists|length %}
            {% set percolumn = (tags_count / 2)|round(0, 'ceil') %}
            {% set col_index = 1 %}
            {% set tax_index = 1 %}
            {% set open_div = true %}
            {% set i = 1 %}

            {% for artist in artists %}
                {% if open_div %}

                  <div class="col-md-6">
                        
                    {% set open_div = false %}
                    {% set i = 1 %}
                    {% set col_index = col_index+1 %}
                {% endif %}

                    {% include "loop/artist-home.twig" %}

                {% if i == percolumn and tags_count != tax_index %}
                   </div> 
                {% set open_div = true  %}
                {% endif %}

                {% set i = i+1 %}
                {% set tax_index = tax_index+1 %}
            {% endfor %}

            </div>
        </div>
        
    </div>
    <div class="col-md-5">
        {{ ads.ads368 | raw}}
    </div>
</section>
