{% extends "admin/partials/layout.twig" %}
 
{% block content %}
  
  {% include "admin/partials/navbar.twig" %}
  {% include "admin/partials/aside.twig" with {'active': 'album', 'vista': 'addalbum'} %}

 <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    {% include "admin/partials/title.twig" with {'title': 'Agregar Album'} %}
    
       <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        {{ '' | msg.display()}}
        <div class="row">
             {% include "admin/albums/form.twig" %}
        </div>
        <!-- /.row -->
        
      </div><!-- /.container-fluid -->
      
    </div>
    <!-- /.content -->  
        
  </div>
  <!-- Content Wrapper. Contains page content -->
{% endblock %}